*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: #f4f6f8;
  padding-bottom: 3em;
}

p {
  font-size: 1rem;
}

h1 {
  margin-top: 2em;
  font-size: 1.5rem;
  background-color: #444343;
  color: white;
  padding-left: .5em;
  padding-block: .2em;
}

input, select, option {
  /* font-size: 1rem !important; */
}

/* .form-inputs,.ant-select-dropdown {
  background-color: #f3f3f3 !important;
} */

.ant-form-item-control *,
.right-aligned-input input {
  text-align: right !important;
}

.ant-form-item-label>label {
  font-size: 1rem !important;
}

.ant-select-selection-placeholder {
  font-size: 1rem;
}

input, button, textarea, form, option, select {
  font-family: inherit;
}

.app-view {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  background-color: white;
  padding-bottom: 3em;
}

.heading-image {
  max-width: 100%;
  object-fit: cover;
}

.calculator-area {
  width: 100%;
}

.input-area {
  padding: 1em 3em;
}

.input-area h1 {
  margin-bottom: 1em;
}

.fat-percentage-demo {
  margin-bottom: 1.5em;
}

.cutting-target, .choose-macro {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cardio {
  padding-left: .5em;
  color: white;
  background-color: rgb(171, 171, 171);
}

.cardio-part {
  margin-block: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cardio-burn {
  margin-block: 1em;
}

.lightgrey-bg {
  background-color: rgb(230, 230, 230);
}

.macro-distribute-part {
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.macro-distribute {
  
  padding-left: .5em;
  color: white;
  background-color: rgb(171, 171, 171);
}

.macro-day {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.macro-demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.macro-number {
  flex: 1 250px;
}

.macro-cell {
  padding-right: 6em;
}

.macro-chart *{
  /* max-width: 300px; */
  max-height: 250px;
  height: auto;
  /* display: flex;
  justify-content: center;
  margin-inline: auto; */
}

.ant-divider {
  margin-block: 1em;
  border-block-start: 1px solid rgba(5, 5, 5, 0.16);
}

@media (max-width: 600px) {
  .input-area {
    padding: 1em 1.5em;
  }
}